.results-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: var(--bg);
  color: var(--text);
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: center;
}

table th {
  background-color: #1c7d8e;
}

button {
  padding: 0.75rem;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .results-container {
    padding: 1rem;
  }

  table th, table td {
    font-size: 0.9rem;
  }
}


@media (min-width: 1025px) {
  .results-container {
    max-width: 800px;
    padding: 2.5rem;
  }
}
